# Billing Account settings
billing_account_display_name = "My Billing Account"

# Organization settings
admin_user                   = "admin"
domain_name                  = "test.example.com"
org_contact                  = "my.email@gmail.com"
project_prefix               = "exampletest"